.spinner-border {
    --falcon-spinner-width: 10rem !important;
    --falcon-spinner-height: 10rem !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

.form-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
}

.details-form label {
    padding-left: 0px !important;
}

.error-message {
    color: #e63757;
    padding-left: 0px !important;
    font-size: 15px;
}

.table-striped tr:hover{
    cursor: pointer;
}

.row-selected, .table-striped tr:hover{
    cursor: pointer;
    background-color: #5e6e8221;
}

.table-striped>tbody>tr:nth-of-type(2n)>* {
    background-color: var(--falcon-table-bg) !important;
}

.navbar{
    padding: 0 10px 0 0 !important;
}

.navbar-top{
    min-height: unset !important;
}

.navbar-nav {
    --falcon-nav-link-padding-y: 0.3rem !important;
    margin-bottom: -5px !important;
}

.toggle-logo{
    padding-bottom: 5px;
}

@media (min-width: 1200px)
{
    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 13.5rem !important;
    }
}