.spinner-border {
    --falcon-spinner-width: 10rem !important;
    --falcon-spinner-height: 10rem !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    font-size: 13px;
}

.form-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
}

.details-form label {
    padding-left: 0px !important;
}

.error-message {
    color: #e63757;
    padding-left: 0px !important;
    font-size: 15px;
}

.table-striped tr:hover {
    cursor: pointer;
}

.row-selected,
.table-striped tr:hover {
    cursor: pointer;
    background-color: #5e6e8221;
}

.table-striped>tbody>tr:nth-of-type(2n)>* {
    background-color: var(--falcon-table-bg) !important;
}

.navbar {
    padding: 0 10px 0 0 !important;
}

.navbar-top {
    min-height: unset !important;
}

.navbar-nav {
    --falcon-nav-link-padding-y: 0.3rem !important;
    margin-bottom: -5px !important;
}

.toggle-logo {
    padding-bottom: 5px;
}

.navbar-collapse {
    max-height: 1260px;
    overflow: scroll;
}

.navbar-top {
    margin-left: unset !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #88c431;
    color:white;
}

.nav-tabs .nav-link, .nav-tabs .nav-link {
    isolation: isolate;
    border-color: #6c757d47 !important;
}

.form-label, input::placeholder, .form-control, .form-select, .nav-tabs .nav-link, .error-message {
    font-size: 0.8rem !important;
}

.table-striped {
    font-size: 0.733333rem!important;
}

.table-striped>tbody>tr:nth-of-type(2n)>* {
    color: var(--bs-body-color) !important;
}

#TableFooterPanel .card-body{
    padding: 0 15px 15px 15px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

#TableFooterPanel, #ContactDetailsTable {
    margin-bottom: unset !important;
}

.list-card .card-body{
    padding: 10px 10px 10px 10px;
}

.no-pad .card-body{
    padding: 0px;
}

.no-pb, .no-pb .card-body{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}