.spinner-border {
    --falcon-spinner-width: 10rem !important;
    --falcon-spinner-height: 10rem !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

.form-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
}

.details-form label {
    padding-left: 0px !important;
}