@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width:961px) {}

@media (min-width:1025px) {
    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 13.625rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .footer-credits {
        margin-left: 250px !important;
    }

    .tab-content .tab-page-list-card {
        max-height: 350px;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px !important;
    }
}

@media (min-width:1281px) {
    .footer-credits {
        margin-left: 300px !important;
    }

    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 13.625rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .tab-content .tab-page-list-card {
        max-height: 420px;
        overflow-y: scroll;
    }
}

@media (min-width:1680px) {
    .container {
        max-width: 1650px !important;
    }

    .footer-credits {
        margin-left: 425px !important;
    }
}