@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 576px) {
    .content {
        padding-bottom: 2.2875rem !important;
    }
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width:961px) {}

@media (min-width:1025px) {
    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 12.825rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .footer-credits {
        margin-left: 230px !important;
    }

    .tab-page-tab {
        max-height: 465px;
        overflow-y: scroll;
    }

    .list-card {
        max-height: 400px;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1600px !important;
    }

    .footer-credits {
        margin-left: 360px !important;
    }

    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 13.625rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .tab-page-tab {
        max-height: 465px;
        overflow-y: scroll;
    }

    .list-card {
        max-height: 400px;
        overflow-y: scroll;
    }
}

@media (min-width:1680px) {
    .container {
        max-width: 1700px !important;
    }

    .footer-credits {
        margin-left: 460px !important;
    }

    .tab-page-tab {
        max-height: 665px;
        overflow-y: scroll;
    }

    .list-card {
        max-height: 600px;
        overflow-y: scroll;
    }
}